.footer{
    display: flex;
    background-color: $bitcoin-orange;
    padding: 24px 0px;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.footer__img{
    width: 50%;
    min-width: 100px;
    max-width: 200px;
}

.footer__ul-li{
    padding: 8px 0px;
    font-size: 1.3rem;
    transition: 0.3s all;
}

.footer__ul-li-a{
    color: $just-white;
}

.footer__ul-li-a:hover{
    color: $off-white;
}

.footer__ul-li:hover{
    transform: scale(1.4);
}