.button{
    display: block;
    margin: 30px 0px;
    padding: 10px 18px;
    background-color: $off-white;
    @include shadow-bottom(rgba(89, 73, 30, 0.36));
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
}

.button__orange{
    background-color: $bitcoin-orange;
    border-radius: 8px;
    color: $off-white;
    padding: 7px 5px;
    font-size: 0.8rem;
    @include shadow-top-left(#e98a16)
}