/* ==========================
        * shadow *
========================== */

@mixin shadow-bottom($color) {
    box-shadow: 0 5px 10px $color;
}

@mixin shadow2($color) {
    box-shadow: inset 0 0 10px $color;
}

@mixin shadow3($color) {
    box-shadow: 5px 5px 10px $color;
}

@mixin shadow4($color) {
    box-shadow: -5px -5px 10px $color;
}

/* ==========================
        * buttons *
========================== */

@mixin button1($fontFamily, $color) {
  display: inline-block;
  padding: 0.3em 1em;
  border: 0.1em solid $color;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $fontFamily;
  color: $color;
  text-align: center;
  transition: all 0.3s;
}

@mixin buttonhover1($backgroundColor, $color) {
  color: $color;
  background-color: $backgroundColor;
}
